main {
  flex-grow: 1;
  font-family: "Open Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 80px;
}

.sobre {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
main h1 {
  font-size: 3.2rem;
  padding: 70px;
}

main p {
  width: 400px;
  margin-top: 50px;
  font-size: 1.6rem;
  text-align: justify;
}
