main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

main h2 {
  font-size: 3rem;
  font-weight: 400;
}

main h1 {
  font-size: 6rem;
  font-weight: 600;
}
main p {
  font-size: 1.6rem;
  width: 900px;
  font-weight: 200;
}

main a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #c60808;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  border-radius: 5px;
  margin-top: 40px;
  transition: all 0.5s;
}

main a:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #c60808;
}
