main {
  flex-grow: 1;
  font-family: "Open Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 80px;
}

.sobre {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.botoes {
  display: flex;
  justify-content: center;
  border-top: white solid 2px;
}

a.botao_social {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 40px;
  margin: 20px 5px 0px 5px;

  background-color: white;

  border-style: none;
  border-radius: 5px;

  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

a.botao_social:visited {
  text-decoration: none;
  color: black;
}

a.botao_social img {
  height: 30px;
  width: 40px;
}

a.botao_social:hover {
  background-color: #3997b9;
}

main h1 {
  font-size: 3.2rem;
  padding: 70px;
}

main p {
  width: 400px;
  margin-top: 50px;
  font-size: 1.6rem;
  text-align: justify;
}
